* {
    font-family: sans-serif;
    box-sizing: border-box;
    text-align: center;
}

button {
    height: 20px;
    width: 80px;
    background-color: yellow;
    font-size: 12px;
    border-radius: 5px;
}

h2 {
    color: green;
}

h3 {
    color: brown;
}

#large_box {
    text-align: center;
    margin: 0px auto;
    margin-top: 2px 0px;
    padding: 50px 0px;
    background-color: lightblue;
    max-width: 1200px;
}

#large_box div {
    background-color: blue;
    display: inline-block;
    width: 30%;
    height: 200px;
    margin: 1%;
}